<ng-container *ngIf="tutorial">
  <div class="container" style="margin: 0 auto;">
    <h2 class="text-center mt-5">{{ getDescription() }}</h2>
    <div class="form-holder">
      <div class="form-content">
        <!-- way two for binding form to object -->
        <form class="requires-validation">
          <div class="col-md-12">
            <input class="form-control p-2" type="text" name="title" [(ngModel)]="tutorial.title" [placeholder]="tutorial.title">
          </div>

          <div class="col-md-12">
            <textarea class="form-control p-2 mt-1" name="description" [(ngModel)]="tutorial.description" [placeholder]="tutorial.description"></textarea>
          </div>

          <div class="col-md-12 mt-3">
            <label class="mb-3 mr-1 p-2">Published </label>
            <input type="radio" class="btn-check" name="published" id="publishedT" [value]="true" [(ngModel)]="tutorial.published" >
            <label class="btn btn-sm btn-outline-dark m-lg-1 p-1" for="publishedT">True</label>
            <input ngModel type="radio" class="btn-check" name="published" id="publishedF" [value]="false" [(ngModel)]="tutorial.published">
            <label class="btn btn-sm btn-outline-dark m-lg-1 p-1" for="publishedF">False</label>
          </div>

          <div class="form-check ">
            <input ngModel class="btn btn-dark mb-1" type="checkbox" name="confirm" value="true" id="confirm" [(ngModel)]="confirm" required>
            <label class="form-check-label m-lg-2">I confirm that all data are correct</label>
          </div>
          <div class="form-button mt-3">
            <button id="submit" type="submit" class="btn btn-dark  p-2" (click)="onSubmit()">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>

