<ng-container *ngIf="tutorials">
  <div class="container">
    <h2 class="text-center p-4 mt-4">{{description}}</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Order</th>
        <ng-container *ngFor="let prop of getPropName()">
          <th scope="col">{{prop}}</th>
        </ng-container>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let tutorial of tutorials;let i = index;">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{tutorial.tid}}</td>
          <td>{{tutorial.title}}</td>
          <td>{{tutorial.description}}</td>
          <td >{{tutorial.published}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-dark p-2 m-lg-1" [routerLink]="'/edit/'+tutorial.tid">Edit</button>
            <button class="btn btn-sm btn-warning p-2" (click)="onDeleteClick(tutorial.tid , i)">Delete</button>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5"></td>
        <td class="text-center">
          <button class="btn btn-sm btn-danger p-2" (click)="onDeleteAllClick()">Delete All</button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</ng-container>
